:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.main-container {
    max-width: 1070px;
    text-align: center;
    margin: 0 auto;
    padding: 0 5%;
    height: 100%;
}

.container {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

/******************  NAVBAR  **************************/

.navbar-gap {
  height: 64px;
}

#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.img-container img{
    height: 64px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .navbar-gap {
  height: 330px;
}

  #navbar {
    background: white;
    box-shadow: None;
  }

  .navbar-container {
    flex-wrap: wrap;
    align-items: stretch;
  }
  .navbar-container .img-container {
   flex: 1 0 100%;
  }

  .navbar-container .img-container img{
   height: 250px;
  }

  .navbar-container #navbar-menu {
   flex: 1 0 100%;
  }
}

/******************  /NAVBAR  *********************/


/******************  /Recipe_site **********************/

.recipe_header {  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 0.1fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Recipe_title Recipe_title Recipe_img"
    "Recipe_details Recipe_details Recipe_img";
}

.Recipe_img { grid-area: Recipe_img; }
.Recipe_img img {
    width: 100%;
}
.Recipe_title { grid-area: Recipe_title; }
.Recipe_details { grid-area: Recipe_details; }


.Recipe_description {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Recipe_description_header"
    "Recipe_description_body";
  grid-area: Recipe_description;
}

.Recipe_description_header {  grid-area: Recipe_description_header;}
.Recipe_description_body { grid-area: Recipe_description_body; }

.Recipe_ingredients {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Recipe_ingredients_header"
    "Recipe_ingredients_body";
  grid-area: Recipe_ingredients;
}

.Recipe_ingredients_header {  grid-area: Recipe_ingredients_header;}
.Recipe_ingredients_body { grid-area: Recipe_ingredients_body; }

.Recipe_steps {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Recipe_steps_header"
    "Recipe_steps_body";
  grid-area: Recipe_steps;
}

.Recipe_steps_header {  grid-area: Recipe_steps_header;}
.Recipe_steps_body { grid-area: Recipe_steps_body; }




.recipe-list-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.recipe-card img {
    width: 100%;
}

.recipe-card * {
    display: block;
    text-decoration: None;
    color: black;
    font-size: 20px;
    text-align: center;
}

.recipe-card img {
    grid-area: img;
}

.recipe-card h3 {
    grid-area: title;
}

.recipe-card .button-view {
    grid-area: view;
    background-color: green;
}

.recipe-card {
    display: grid;
    grid-template-areas:
    'img img'
    'title title'
    'view view';
    grid-gap: 10px;
}