.navbar ul {
    background-color:lightpink ;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    background-color: pink;
    list-style-type: None;
}

.navbar ul li a{
    color: black;
    text-decoration: None;
    line-height: 50px;
}

.recipe-list-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.recipe-card img{
    width: 100%;
}

.recipe-card * {
    display:block;
    text-decoration: None;
    color:black;
    font-size: 20px;
    text-align: center;
}

.recipe-card img { grid-area: img; }
.recipe-card h3 { grid-area: title; }
.recipe-card .button-view { grid-area: view; background-color:green;}

.recipe-card {
    display: grid;
    grid-template-areas:
    'img img'
    'title title'
    'view view'
    ;
    grid-gap: 10px;
}