{% extends 'Base.html' %}

{% block webtitle %}O mnie{% endblock %}

{% block content %}
  <div class="about-container">
    <div class="about-image-container">
      <img src="/static/img/About_me.jpg">
    </div>
    <div class="about-text-container">
      <h2>Cześć, jestem Paulina</h2>
      <br>
      <p class="about-1-p">
        Jedną z rzeczy, które mnie uszczęśliwiają jest zadowolenie malujące się na twarzach moich
        bliskich podczas spożywania posiłków przygotowanych przeze mnie. W szczególności lubię patrzeć na mojego męża, który kiwa głową na znak, że mu naprawdę smakuje😊
      </p>
      <br>
      <p class="about-2-p">
        Skąd pomysł na bloga? Namówił mnie do tego właśnie mój mąż  Wiktor – największy fan moich
        kulinariów. Blog powstał głównie z myślą o dzieleniu się przepisami z moimi bliskimi, ale nie tylko…
Przepisy, które tu znajdziecie to inspiracja kulinarnymi dziełami innych, ale również wpływ
        ludzi, których spotykam na swojej drodze oraz miejsc, które odwiedzam. Znajdą się tutaj przepisy tradycyjne, pochodzące z moich rodzinnych stron, czyli ukochanej Suwalszczyzny, ale także nowoczesne formy. Z uwagi na nietolerancje pokarmowe moich bliskich czasem sięgnę też po opcje bezmleczne, czy bezglutenowe. Jednak największą bazę będą stanowiły zdrowe, pełnowartościowe posiłki, które aktualnie królują w mojej kuchni😊
      </p>
      <br>
      <p class="about-3-p">
        Na co dzień stawiam raczej na proste i szybkie przepisy, ale równocześnie zdrowe. Jednak gdy mam więcej czasu, bądź wpadnie mi do głowy jakiś inspirujący pomysł, to lubię poeksperymentować w kuchni – tu chyba odzywa się natura naukowca😊
      </p>
      <br>
      <p class="about-4-p">
        Mam nadzieję, że pomogę Wam pokochać zdrowe jedzenie i namówię do
odważnych wędrówek w nowe, nieznane krainy przecudownych smaków!
      </p>
    </div>
  </div>


{% endblock %}