{% extends 'Base.html' %}

{% block webtitle %}O mnie{% endblock %}

{% block content %}
  <div class="about-container">
    <div class="about-image-container">
      <img src="/static/img/About_me.jpg">
    </div>
    <div class="about-text-container">
      <h2>Cześć wszystkim!</h2>
      <br>
      <p class="about-1-p">
        Jestem Paulina i jedną z rzeczy, które mnie uszczęśliwiają w życiu jest gest kiwania głową przez mojego męża, gdy je posiłek, który został przeze mnie przygotowany. Wtedy wiem, że to co zrobiłam jest smaczne bądź mogłoby być lepsze 😊
      </p>
      <br>
      <p class="about-2-p">
        Tak też powstał pomysł na bloga, do którego namówił mnie mój mąż Wiktor. Blog powstał głównie z myślą, żeby dzielić się przepisami z moimi bliskimi, ale nie tylko..
        Przepisy, które tu znajdziecie to inspiracja nie tylko dziełami innych, ale również inspiracja ludźmi i miejscami, w których jest mi dane być.
        Znajdą się tutaj przepisy pochodzące z tradycji i nawiązujące do moich rodzinnych stron, czyli Suwalszczyzny, ale także nowoczesne formy. Z uwagi na nietolerancje pokarmowe wśród bliskich czasem znajdą się też opcje bezmleczne czy bezglutenowe. Jednak największą bazę będą stanowiły zdrowe, pełnowartościowe posiłki, które aktualnie w 90% królują w mojej kuchni, 10% to przyjemności :)
        Na co dzień stawiam raczej na proste i szybkie przepisy, ale równocześnie zdrowe. Chociaż jak tylko mam więcej czasu, bądź najdzie mnie inspiracja, to lubię poeksperymentować w kuchni. To chyba wynika z natury naukowca.
        Mam nadzieję, że zakorzenię miłość do zdrowego jedzenia u innych, jak również odwagę do spróbowania czegoś nowego!
      </p>
    </div>
  </div>


{% endblock %}