{% load static %}

<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block webtitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
  <nav class="navbar">
    <div class="logo">
      LoGo
    </div>
    <div class="menus">
      <div>Przpeisy</div>
      <div>O mnie</div>
    </div>
    <div class="toggler">
      X
    </div>
  </nav>
  <main>
    <h1>Welcome to My Website</h1>
  </main>
  <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>