{% load static %}

<!DOCTYPE html>
<html lang="pl-PL">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block webtitle %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body class="bg-pattern">



  {# Navigation bar #}
  <header id="navbar">
    <nav class="navbar-container container">
      <div class="img-container">
        <a class="nav-img-big" href="{% url 'home_page' %}">
          <img src="{% static 'img/Logo.png' %}">
        </a>
        <a class="nav-img-small" href="{% url 'home_page' %}">
          <img src="{% static 'img/Logo_napis.webp' %}">
        </a>
      </div>
      <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu"
              aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="navbar-menu" aria-labelledby="navbar-toggle">
        <ul class="navbar-links">
          <li class="navbar-item"><a class="navbar-link" href="{% url 'home_page' %}">Strona Główna</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{% url 'recipes' %}">Przepisy</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{% url 'about' %}">O Mnie</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{% url 'about' %}">Blog</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="navbar-gap">

  </div>

<div class="main-container">
    {% block content %}
  {% endblock %}


</div>
{# footer #}

<footer class="footer-container-background">
  <div class="footer-container">
  <div class="footer-about">
    <h1>Zasmakowane</h1>
    <p></p>
    <div class="icons-container">
      <a href="\"><img src="/static/img/facebook-app-icon.webp" class="icons"></img></a>
      <a href="\"><img src="/static/img/ig-instagram-icon.webp" class="icons"></img></a>
      <a href="\"><img src="/static/img/youtube-icon.webp" class="icons"></img></a>
      <a href="\"><img src="/static/img/pinterest-icon.webp" class="icons"></img></a>
    </div>
  </div>
  <div class="footer-list-section">
    <div class="footer-list">
      <dvi class="footer-tags">
        <h3>Tagi</h3>
        <ul>
          <li><a href="http://127.0.0.1:8000/przepisy?tags=1&title=">GlutenFree</a></li>
          <li><a href="http://127.0.0.1:8000/przepisy?tags=2&title=">Fit</a></li>
          <li><a href="http://127.0.0.1:8000/przepisy?tags=3&title=">LowCarb</a></li>
          <li><a href="http://127.0.0.1:8000/przepisy?tags=4&title=">LactoseFree</a></li>
          <li><a href="http://127.0.0.1:8000/przepisy?tags=5&title=">CheatMeal</a></li>
        </ul>
      </dvi>
      <dvi class="footer-cousines">
        <h3>Kuchnia</h3>
        <ul>
          <li><a href="http://127.0.0.1:8000/przepisy?cuisines=1&title=">Staropolska</a></li>
          <li><a href="http://127.0.0.1:8000/przepisy?cuisines=2&title=">Fusion</a></li>
          <li><a href="http://127.0.0.1:8000/przepisy?cuisines=3&title=">Azjatycka</a></li>
          <li><a href="http://127.0.0.1:8000/przepisy?cuisines=4&title=">Morska</a></li>
          <li><a href="http://127.0.0.1:8000/przepisy?cuisines=5&title=">Podlaska</a></li>
        </ul>
      </dvi>
      </dvi>
      <dvi class="footer-categories">
        <h3>Kategoria</h3>
        <ul>
          <li><a href="http://127.0.0.1:8000/przepisy?categories=1&title=">Zupa</a></li>
          <li><a href="http://127.0.0.1:8000/przepisy?categories=2&title=">Danie glwne</a></li>
          <li><a href="http://127.0.0.1:8000/przepisy?categories=3&title=">Deser</a></li>
          <li><a href="http://127.0.0.1:8000/przepisy?categories=4&title=">Przekaska</a></li>
          <li><a href="http://127.0.0.1:8000/przepisy?categories=5&title=">Sniadanie</a></li>
        </ul>
      </dvi>
      </dvi>
    </div>
    <p>Kontakt: p.konarzewska5@gmail.com</p>
  </div>
  </div>
</footer>






<script src="{% static 'js/script.js' %}"></script>
</body>
</html>