{% load static %}

<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block webtitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>

  <nav class="navbar">
    <ul>
      <li><a href="{% url 'home_page' %}">Logo</a></li>
      <li><a href="{% url 'recipes' %}">Przepisy</a></li>
      <li><a href="{% url 'about' %}">O mnie</a></li>
    </ul>
  </nav>


  {% block content %}
  {% endblock %}



  <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>