{% extends 'Base.html' %}
{% load static %}

{% block webtitle %}Przepisy{% endblock %}


{% block content %}
  <div class="Toggle_button">
    <button onclick="show_side_bar()" class="dropbtn" >Filtruj</button>
  </div>
  <div class="recipe-container">
    <form id="show-side-bar" class="dropdown-content" method="get">
      {% for field in recipe_filter.form %}
          <div class="fieldWrapper"> {# -{{ forloop.counter }}#}
              {{ field.errors }}
              {{ field.label_tag }}
              <hr>
              {% if field.id_for_label == 'id_title' %}
                <input class="input-text" type="text" name="title" id="id_title"
                       placeholder="podaj tytuł przepisu...">
              {% else %}
                {{ field }}
              {% endif %}

              {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
          </div>
      {% endfor %}
{#      {{ recipe_filter.form }}#}
      <div class="filter-submit-button">
        <input type="submit" value="Szukaj" />
      </div>
    </form>
    <div id="show-side-bar-backgound" class="backgound_for_sidebar" >

    </div>


    <div class="recipe-list-content">
      {% for new_recipe in recipe_filter.qs %}
        <div class="recipe-card" onclick="window.location.href = '/przepisy/'
              + '{{ new_recipe.slug }}';">
          <img src="{{ new_recipe.small_photo.url }}">
          <div class="recipe-tags">
            {% for tag in new_recipe.tags.all %}
              <div class="tag_box" style="background-color: {{ tag.color }}">
                <p title="{{ tag.name }}" class="tag_box_text">{{ tag.short_name }}</p>
              </div>
            {% endfor %}
          </div>
          <h3 class="card-title">{{ new_recipe.title }}</h3>
          <p class="recipe-category">Kategoria: {{ new_recipe.categories.first }}</p>
        </div>

      {% endfor %}
    </div>

  </div>




{% endblock %}