{% extends 'Base.html' %}

{% block webtitle %}Strona Główna{% endblock %}


{% block content %}
  <div class="home-page-intro">
    <h1>Witaj na  moim blogu!</h1>
    <p>znajdziesz tu pyszne przepisy, które gotuję na codzień</p>
  </div>

  <div class="header_with_line">
  <div class="separator">
    Ostatnio dodane
  </div>

  <div class="home-last-added">
    {% for new_recipe in newest_recipes %}
      <div class="recipe-card" onclick="window.location.href = '/przepisy/'
            + '{{ new_recipe.slug }}';">
        <img class="home_recipe_img" src="{{ new_recipe.small_photo.url }}">
        <h2 class="card-title">{{ new_recipe.title }}</h2>
        <div class="home-recipe-date">
          <p>{{ new_recipe.create_date|date:"d E, Y" }}</p>
        </div>
        <div class="separator_recipe"></div>
        <div class="home_recipe_desc">
          <p>{{ new_recipe.short_description }}</p>
        </div>

      </div>

    {% endfor %}
  </div>




{% endblock %}