{% extends 'Base.html' %}
{% load static %}

{% block webtitle %}{{ recipe.title }}{% endblock %}

{% block content %}
  <div>
    <h1 class="recipe_title">{{ recipe.title }}</h1>
    <p class="recipe-header-date">Data dodania: {{ recipe.create_date }}</p>
    <div class="tag-container">
      <p class="tag-container-head">Tagi:</p>
      {% for tag in tags %}
        <div class="tag_box" style="background-color: {{ tag.color }}">
          <p title="{{ tag.name }}" class="tag_box_text">{{ tag.short_name }}</p>
        </div>
      {% endfor %}
    </div>

  </div>

  <div class="recipe_image_section">
    <img src="{{ recipe.big_photo_1.url }}">
  </div>

  <div class="Recipe_description">
    <h2>O przepisie</h2><hr>
    <p>{{ recipe.description }}</p>
  </div>

  <div class="recipe_image_section">
    <img src="{{ recipe.big_photo_2.url }}">
  </div>




  <div class="recipe-main-card">
    <div class="recipe_header">
      <div class="Recipe_img">
        <img src="{{ recipe.small_photo.url }}">
      </div>
      <div class="Recipe_details">
        <h2>{{ recipe.title }}</h2>
        {% if recipe.prep_time %}
          <p class="clocl-icon-text"><span class="clock-icon"></span>Czas przygotowania: {{ recipe.prep_time }}min</p>
        {% endif %}
        {% if recipe.cooking_time %}
          <p class="clocl-icon-text"><span class="clock-icon"></span>Czas gotowania: {{ recipe.cooking_time }}min</p>
        {% endif %}
        {% if recipe.sum_time  %}
          <p class="clocl-icon-text"><span class="clock-icon"></span>Czas łącznie:
            {{ recipe.sum_time  }}min</p>
        {% endif %}
        {% if recipe.calories  %}
            <p class="clocl-icon-text"><span class="food-icon"></span>Kalorie: {{ recipe.calories }}</p>
        {% endif %}
        {% if recipe.portions  %}
            <p class="clocl-icon-text"><span class="food-icon"></span>Liczba porcji:
              {{ recipe.portions  }}</p>
        {% endif %}
        {% if recipe.calories_per_portion  %}
            <p class="clocl-icon-text"><span class="food-icon"></span>Kalorie/porcje:
              {{ recipe.calories_per_portion  }}</p>
        {% endif %}
        <div class="cousine_category">
          <p>
            Kategoria: 
            {% for category in categories %}
              <span>{{ category }} </span>
            {% endfor %}
          </p>
          <p>
            Kuchnia:
            {% for cuisine in cuisines %}
              {% if forloop.last %}
                  <span>{{ cuisine }} </span>
              {% else %}
                   <span>{{ cuisine }}, </span>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>

    <hr>
      <div class="recipe-header-elements">
        <div class="recipe-header-1 col-size-3">
          <p>Białko</p>
          <p>{{ recipe.protein }} g</p>
        </div>
        <div class="recipe-header-2 col-size-3">
          <p>Węglowodany</p>
          <p>{{ recipe.carb }} g</p>
        </div>
        <div class="recipe-header-3 col-size-3">
          <p>Tłuszcz</p>
          <p>{{ recipe.fat }} g</p>
        </div>
      </div>
    <hr>


    <div class="Recipe_ingredients">
      <div class="Recipe_ingredients_header">
        <h2>Składniki</h2><span>-------------------------------------------------------</span>
      </div>
      <div class="Recipe_ingredients_body">
        {% for group in groups %}
          <p class="ingredients-group-header"> {{ group.name }}</p>
          <div class="ingredients-group">
            {% for ingredient in group.ingredient_set.all %}
              <label class="ingredien-element">
                  <input type="checkbox">
                  <span>
                    {% if ingredient.quantity %}
                      {{ ingredient.quantity }}
                    {% endif %}
                    {% if ingredient.measure %}
                      {{ ingredient.measure }}
                    {% endif %}
                    {{ ingredient.name }}</span>
              </label>
            {% endfor %}
          </div>

        {% endfor %}
      </div>
    </div>

    <div class="Recipe_steps">
      <div class="Recipe_steps_header">
        <h2>Instrukcja</h2><span>-------------------------------------------------------</span>
      </div>
      <div class="Recipe_steps_body">
        {% for step in steps %}
          <div class="recipe_setp_element" onclick="this.classList.toggle('text-crossed')">
            <p>{{ step.number }}. {{ step.description }}</p>

          </div>
        {% endfor %}


      </div>
    </div>
  </div>

{#  <form method="POST">#}
{#    {% csrf_token %}#}
{#    {{ form }}#}
{#    <button type="submit">Dodaj komentarz</button>#}
{#  </form>#}
{##}
{#  <div>#}
{#  {% for comment in comments %}#}
{#    <div>#}
{#      <p>{{ comment.create_date }}</p>#}
{#      <p>{{ comment.author }}</p>#}
{#      <p>{{ comment.text }}</p>#}
{#    </div>#}
{##}
{#  {% endfor %}#}
{# </div>#}


{% endblock %}