{% extends 'Base.html' %}
{% load static %}

{% block webtitle %}{{ recipe.title }}{% endblock %}

{% block content %}
  <div class="recipe_image_section">
    <div class="recipe_image_section_left">
      <img src="{{ recipe.big_photo_1.url }}">
    </div>
    <div class="recipe_image_section_right">
      <img src="{{ recipe.big_photo_2.url }}">
    </div>
  </div>
  <div class="recipe_header">
    <div class="Recipe_img">
      <img src="{{ recipe.small_photo.url }}">
    </div>
    <div class="Recipe_title">
      <h2>{{ recipe.title }}</h2>
    </div>
    <div class="Recipe_details">
      <p>Czas przygotowania{{ recipe.prep_time }}</p>
      <p>Kalorie: {{ recipe.calories }}</p>
      <p>Węglowodany: {{ recipe.carb }}</p>
      <p>Białko: {{ recipe.protein }}</p>
      <p>Tłuszcz: {{ recipe.fat }}</p>
    </div>
  </div>

  <div class="recipe_tags">
    {% for tag in tags %}
      <img src="{{ tag.icon.url }}">
    {% endfor %}
  </div>


  <div class="Recipe_description">
    <div class="Recipe_description_header">
      <h2>Opis</h2><span>-------------------------------------------------------</span>
    </div>
    <div class="Recipe_description_body">
      <p>{{ recipe.description }}</p>
    </div>
  </div>

  <div class="Recipe_ingredients">
    <div class="Recipe_ingredients_header">
      <h2>Składniki</h2><span>-------------------------------------------------------</span>
    </div>
    <div class="Recipe_ingredients_body">
      {% for ingredient in ingredients %}
        <p>{{ ingredient }}</p>
      {% endfor %}
    </div>
  </div>

  <div class="Recipe_steps">
    <div class="Recipe_steps_header">
      <h2>Instrukcja</h2><span>-------------------------------------------------------</span>
    </div>
    <div class="Recipe_steps_body">
      {% for step in steps %}
        <p>{{ step }}</p>
        <p>{{ step.description }}</p>
        <p>  .</p>
      {% endfor %}
    </div>
  </div>




{% endblock %}